@font-face {
    src: url("../font/PAPYRUS.TTF");
    font-family: pap;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: pap;
    background-color: rgba(20, 18, 20, 0.925);
    color: rgb(231, 232, 250);
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.navbar {
    background-color: rgba(110, 70, 101, 0.247);
    text-align: center;
    z-index: 10;
    box-sizing: border-box;
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0px;
    font-size: 4vh;
    padding-top: 1vh;
    border-top: 2px solid rgba(19, 10, 17, 0.616);
}

.navbar a {
    display: inline-block;
    width: 20vw;
    min-height: 2vh;
    margin: 0px 6vw 1vh;
}

.navbar a:first-child {
    margin-left: 4vw;
}

.navbartext {
    display: none;
}

.cover {
    z-index: -1;
    position: absolute;
    display: block;
    top: 0px;
    width: 95vw;
    margin-left: 2.5vw;
    height: 45vh;
    margin-top: 6vh;
    background-color: rgba(46, 87, 105, 0.404);
    background-image: linear-gradient(to bottom, rgba(109, 75, 60, 0.541), rgba(66, 18, 52, 0.397));
    overflow: hidden;
}

.profilepic {
    padding-bottom: 0px;
    display: block;
    width: 90%;
    height: auto;
    margin: 0px auto;
    margin-top: 12vh;
}

.profilepic img {
    width: 100%;
    height: auto;
    margin: 0px;
    border: 3px solid rgba(7, 5, 5, 0.623);
}

.cover img {
    display: block;
    position: relative;
    background-size: 100%;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.container {
    display: block;
    width: 100vw;
    height: 45vh;
}

.container4 {
    display: block;
    height: 92vh;
    overflow: auto;
}

.about {
    margin: 6vh 5vw;
    margin-bottom: 20%;
    font-size: 200%;
}

.fa-dashcube,
.fa-arrow-down,
.fa-route,
.fa-skull,
.fa-search-location,
.fa-map-marker {
    color: rgba(180, 142, 91, 0.966);
}

.active {
    color: rgb(219, 152, 8);
}

.p-header {
    color: rgba(180, 142, 91, 0.966);
    margin: 3vh 5vw;
}

.p-container1 {
    padding: 0px;
    display: block;
    text-align: left;
}

.item {
    margin: 0vh 5vw;
    height: 18vh;
    border: 2px solid rgba(51, 65, 64, 0.507);
    overflow: hidden;
    color: rgb(215, 223, 220);
    transition-property: all;
    transition-duration: 600ms;
    transition-timing-function: linear;
}

#link {
    display: none;
}

.p-container {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.p-container2 {
    display: block;
    height: 90vh;
    overflow: auto;
}

.search span:hover {
    cursor: pointer;
}

.search {
    text-align: right;
    display: block;
    width: 100%;
    padding: 2vh 0px;
    border-bottom: 2px solid rgba(116, 104, 4, 0.575);
}

input {
    margin-left: 2vw;
    background-color: rgba(180, 91, 176, 0.226);
    border-radius: 5px;
}

.thumbnail {
    border: 5px solid rgba(100, 77, 29, 0.459);
    display: block;
    width: 37%;
    height: 100%;
    /*  max-height: 35vh; */
    margin: 0% 4% 0% 0%;
    float: left;
    transition-delay: 200ms;
    transition-duration: 400ms;
}

.title {
    display: block;
    float: left;
    width: 50%;
    padding-top: 1vh;
    font-size: 3vh;
    text-decoration: underline;
}

.description {
    position: relative;
    width: 50%;
    margin: 1vh auto;
    top: 1vh;
    left: -1vw;
    display: block;
    clear: right;
    height: 10vh;
    overflow: hidden;
    font-size: large;
    line-height: 5vh;
}

.more:hover {
    cursor: pointer;
}

.more {
    color: aliceblue;
    padding-right: 2vw;
    float: right;
    font-size: 3vw;
    position: relative;
    bottom: 2vh;
    right: 6vw;
}

.collapse:hover {
    cursor: pointer;
}

.collapse {
    visibility: hidden;
    position: relative;
    bottom: 3vh;
    left: 50vw;
    font-size: 4vw;
}

.c-header {
    margin: 2vh 5vw;
    border-bottom: 2px solid rgba(179, 173, 162, 0.733);
}

label {
    display: block;
    width: 100%;
    padding-top: 5vh;
}

.btn:hover {
    cursor: pointer;
}

.btn {
    display: block;
    width: 30vw;
    text-align: center;
    margin: 4vh 1vw;
    padding: 2vh 9vw;
    border-radius: 5px;
    border: 0px;
    color: rgb(216, 200, 200);
    position: relative;
    left: 26vw;
    background-color: rgba(39, 6, 43, 0.534);
}

form {
    position: relative;
    margin: 4vh 3vw;
    padding: 2vh 4vw;
    border: 2px solid white;
}

.info section {
    margin: 4vh 2vw;
    font-size: 3vh;
}

.info h2 {
    margin: 4vh 1vw;
    font-size: 4vh;
}

a {
    text-decoration: none;
    color: rgba(5, 186, 231, 0.432);
}

.buy:hover {
    cursor: pointer;
}

.buy {
    transition-property: all;
    transition-duration: 1000ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    position: relative;
    top: 40vh;
    width: 20vw;
    left: 65vw;
    z-index: 100;
    font-style: italic;
    padding: 0vh 4vw;
    background-color: rgb(11, 12, 14);
    visibility: hidden;
}

.c-container {
    height: 80vh;
    overflow-y: scroll;
}


/*..............................*/

@media (min-width: 700px) {
    .about p {
        font-size: 200%;
    }
    .p-container2 {
        overflow-x: hidden;
    }
    .p-container1 {
        margin: 0px;
        display: block;
        width: 50vw;
        float: left;
    }
    .item {
        margin: 0px 2vw;
    }
    .item p {
        font-size: 3vw;
        line-height: normal;
    }
    .item h3 {
        font-size: 3.3vw;
    }
    .more {
        position: relative;
        top: -2.9vh;
        left: -4vw;
        color: aliceblue;
        padding-right: 0vw;
        font-size: 200%;
    }
    .collapse {
        visibility: hidden;
        position: relative;
        bottom: 4vh;
        font-size: 300%;
        left: 50vw;
    }
    .buy {
        top: 38vh;
        font-size: 140%;
        padding: 1vh 0px 1vh 4vw;
    }
    .search {
        font-size: 250%;
    }
    input {
        padding-left: 2vw;
        font-size: 60%;
        border-radius: 36px;
    }
    h1 {
        font-size: 300%;
    }
    form {
        font-size: 3vw;
    }
    form .btn {
        font-size: 3vw;
        border-radius: 20px;
    }
    .about {
        font-size: 2vw;
        ;
    }
}

@media (min-width: 1000px)and (orientation: landscape) {
    .navbar {
        background-color: rgba(10, 6, 9, 0.247);
        text-align: center;
        z-index: 10;
        box-sizing: border-box;
        width: 100%;
        display: block;
        position: fixed;
        top: 0px;
        height: 16vh;
        font-size: 4vh;
        padding-top: 1vh;
        border-top: 2px solid rgba(19, 10, 17, 0.616);
    }
    .navbar a {
        display: inline-block;
        width: 20vw;
        min-height: 2vh;
        margin: 4vh 6vw 1vh;
    }
    .navbar a:first-child {
        margin-left: 4vw;
    }
    .navbartext {
        margin: 0px 2vw;
        display: inline-block;
        font-size: 3vw;
    }
    body {
        position: relative;
        top: 16vh;
    }
    .profilepic {
        width: 50%;
        height: auto;
        display: block;
        margin-left: 5vw;
        margin-right: 2vw;
        float: left;
    }
    .cover {
        height: 100%;
    }
    .about {
        font-size: 100%;
        display: block;
    }
    .about h1 {
        font-size: 250%;
        padding-top: 10vh;
    }
    .p-container1 {
        margin: 0px 0px 0px 5.3vw;
        display: block;
        width: 26vw;
        height: 50vh;
        float: left;
        padding: 0.1%;
    }
    .p-container2 {
        height: 80vh;
        overflow-y: scroll;
    }
    .item {
        width: 90%;
        height: 90%;
        position: relative;
        top: 0vh;
        left: 0vw;
        right: 0;
        margin: auto;
    }
    .thumbnail {
        border: 5px solid rgba(124, 98, 42, 0.459);
        display: block;
        height: 60%;
        width: 100%;
    }
    .item p {
        font-size: 150%;
        line-height: normal;
        height: 35vh;
        width: 90%;
        margin: 0px 0px 0px 2vw;
    }
    .item h3 {
        display: block;
        font-size: 170%;
        margin-left: 5vw;
    }
    .more {
        position: relative;
        top: -8vh;
        left: -2vw;
        color: aliceblue;
        padding-right: 0vw;
        font-size: 200%;
    }
    .collapse {
        visibility: hidden;
        position: relative;
        bottom: 0vh;
        font-size: 300%;
        left: 50vw;
    }
    .buy {
        top: 38vh;
        font-size: 140%;
        padding: 1vh 0px 1vh 4vw;
    }
    .search {
        font-size: 250%;
    }
    input {
        padding-left: 2vw;
        font-size: 60%;
        border-radius: 36px;
    }
    h1 {
        font-size: 300%;
    }
    .formcontainer {
        height: 80vh;
        overflow-y: hidden;
    }
    form {
        height: 40vh;
        font-size: 4vh;
    }
    .btn {
        position: relative;
        bottom: 15vh;
        left: 50vw;
        padding: 0%;
        width: 15vw;
        height: 8vh;
        background-color: rgba(78, 57, 80, 0.774);
    }
}